:host {
  display: block;
  position: relative;
}

.ivy-input-inner {
  background-color: #fff;
  background-image: none;
  border-radius: var(--ivy-border-radius, 4px);
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 34px;
  line-height: 34px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  font-size: var(--ivy-font-size, 14px);
}
.ivy-input-inner::input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner::-webkit-input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner::-moz-input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner:-moz-input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner:-ms-input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner:active,
.ivy-input-inner:hover,
.ivy-input-inner:focus {
  border-color: var(--ivy-color-primary, #409eff);
}
:host([disabled]) {
  cursor: not-allowed;
}
:host([disabled]) .ivy-input-inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.select-option-wrap {
  position: absolute;
  width: 100%;
  min-width: 240px;
  left: 0;
  top: 40px;
  display: none;
  border-radius: 2px;
  overflow: hidden;
  z-index: 10;
}
:host([visible]) .select-option-wrap {
  display: block;
}
.select-option-scroll {
  overflow: auto;
  overflow: overlay;
  background-color: #fff;
  max-height: 274px;
  filter: drop-shadow(0px 0 16px rgba(17, 17, 26, 0.1));
}
.select-option {
  margin: 6px 0;
}
.select-arrow {
  height: 6px;
  width: 6px;
  position: absolute;
}

.select-option-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 2px;
}

.select-option-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 1);
  border-radius: 2px;
}
.select-option-scroll::-webkit-scrollbar-track {
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 2px;
}
