:root {
  --ivy-white: #ffffff;
  --ivy-black: #000000;
  /* primary*/
  --ivy-color-primary: #409eff;
  --ivy-color-primary-light-1: #53a8ff;
  --ivy-color-primary-light-2: #66b1ff;
  --ivy-color-primary-light-3: #79bbff;
  --ivy-color-primary-light-4: #8cc5ff;
  --ivy-color-primary-light-5: #a0cfff;
  --ivy-color-primary-light-6: #b3d8ff;
  --ivy-color-primary-light-7: #c6e2ff;
  --ivy-color-primary-light-8: #d9ecff;
  --ivy-color-primary-light-9: #ecf5ff;
  /* success*/
  --ivy-color-success: #67c23a;
  --ivy-color-success-light-1: #76c84e;
  --ivy-color-success-light-2: #85ce61;
  --ivy-color-success-light-3: #95d475;
  --ivy-color-success-light-4: #a4da89;
  --ivy-color-success-light-5: #b3e19d;
  --ivy-color-success-light-6: #c2e7b0;
  --ivy-color-success-light-7: #d1edc4;
  --ivy-color-success-light-8: #e1f3d8;
  --ivy-color-success-light-9: #f0f9eb;
  /* warning*/
  --ivy-color-warning: #e6a23c;
  --ivy-color-warning-light-1: #e9ab50;
  --ivy-color-warning-light-2: #ebb563;
  --ivy-color-warning-light-3: #eebe77;
  --ivy-color-warning-light-4: #f0c78a;
  --ivy-color-warning-light-5: #f3d19e;
  --ivy-color-warning-light-6: #f5dab1;
  --ivy-color-warning-light-7: #f8e3c5;
  --ivy-color-warning-light-8: #faecd8;
  --ivy-color-warning-light-9: #fdf6ec;
  /* danger*/
  --ivy-color-danger: #f56c6c;
  --ivy-color-danger-light-1: #f67b7b;
  --ivy-color-danger-light-2: #f78989;
  --ivy-color-danger-light-3: #f89898;
  --ivy-color-danger-light-4: #f9a7a7;
  --ivy-color-danger-light-5: #fab6b6;
  --ivy-color-danger-light-6: #fbc4c4;
  --ivy-color-danger-light-7: #fcd3d3;
  --ivy-color-danger-light-8: #fde2e2;
  --ivy-color-danger-light-9: #fef0f0;
  /* info*/
  --ivy-color-info: #909399;
  --ivy-color-info-light-1: #9b9ea3;
  --ivy-color-info-light-2: #a6a9ad;
  --ivy-color-info-light-3: #b1b3b8;
  --ivy-color-info-light-4: #bcbec2;
  --ivy-color-info-light-5: #c8c9cc;
  --ivy-color-info-light-6: #d3d4d6;
  --ivy-color-info-light-7: #dedfe0;
  --ivy-color-info-light-8: #e9e9eb;
  --ivy-color-info-light-9: #f4f4f5;

  --ivy-shadow: drop-shadow(0px 0 16px rgba(17, 17, 26, 0.1));
}
