:host {
  display: inline-flex;
  box-sizing: border-box;
}

:host(vertical) {
  flex-direction: column;
}

.space {
  display: inline-flex;
  box-sizing: border-box;
}

.space-item {
  margin-right: 12px;
  box-sizing: border-box;
}
.space-item:last-child {
  margin-right: 0;
}

:host([align='center']),
:host([align]) {
  align-items: center;
}

:host([align='start']) {
  align-items: flex-start;
}

:host([align='end']) {
  align-items: flex-end;
}

:host([align='baseline']) {
  align-items: baseline;
}
.hidden {
  display: none;
}
