:host {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
  display: none;
  width: 100vw;
  height: 100vh;
}
:host([show]) {
  display: block;
}
.ivy-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.6);
}
.ivy-modal {
  width: 500px;
  margin: 14vh auto 0;
  background-color: #ffffff;
  border-radius: var(--border-radius, 8px);
  position: relative;
  animation: zoomIn 0.3s forwards;
}
.ivy-modal-header {
  padding: 12px 16px;
  border-bottom: 1px solid var(--ivy-border-color, #dcdfe6);
}
.ivy-modal-content {
  padding: 16px;
}
.ivy-modal-footer {
  padding: 12px 16px;
  border-top: 1px solid var(--ivy-border-color, #dcdfe6);
  text-align: right;
}
.ivy-modal-button {
  line-height: 1em;
  font-size: 14px;
  padding: 8px 20px;
  border: 1px solid #dcdfe6;
  outline: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.1s;
}
.ivy-modal-button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.ivy-modal-button + .ivy-modal-button {
  margin-left: 10px;
}
.ivy-modal-button-primary {
  background-color: var(--color-primary, #409eff);
  border-color: var(--color-primary, #409eff);
  color: white;
}
.ivy-modal-button-primary:hover {
  background-color: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.ivy-modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 1;
}
.ivy-modal-close::before,
.ivy-modal-close::after {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 0;
  width: 1px;
  height: 16px;
  background-color: #999;
  border-radius: 0.5px;
  transform: rotate(-45deg);
  z-index: -1;
}
.ivy-modal-close::before {
  transform: rotate(45deg);
}
.ivy-modal-close:hover::before,
.ivy-modal-close:hover::after {
  background-color: #444;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
