:host {
  /* primary*/
  --ivy-color-primary: #409eff;
  /* success*/
  --ivy-color-success: #67c23a;
  /* warning*/
  --ivy-color-warning: #e6a23c;
  /* danger*/
  --ivy-color-danger: #f56c6c;
  /* info*/
  --ivy-color-info: #909399;
  display: block;
  position: relative;
  padding: 4px 0 20px 28px;
}
:host(:last-child) .ivy-timeline-line {
  display: none;
}
:host([reverse]:first-child) .ivy-timeline-line {
  display: none;
}
:host([reverse]:last-child) .ivy-timeline-line {
  display: block;
}
:host([hide-timestamp]) .ivy-timeline-timestamp {
  display: none;
}
:host([type='primary']) .ivy-timeline-dot {
  background-color: var(--ivy-color-primary);
}
:host([type='success']) .ivy-timeline-dot {
  background-color: var(--ivy-color-success);
}
:host([type='warning']) .ivy-timeline-dot {
  background-color: var(--ivy-color-warning);
}
:host([type='danger']) .ivy-timeline-dot {
  background-color: var(--ivy-color-danger);
}
.ivy-timeline-dot {
  position: absolute;
  left: -1px;
  width: 12px;
  height: 12px;
  background-color: #e4e7ed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.ivy-timeline-line {
  position: absolute;
  left: 4px;
  height: 100%;
  border-left: 2px solid #e4e7ed;
}
.ivy-timeline-timestamp {
  line-height: 1em;
  margin-bottom: 6px;
  color: #666;
  font-size: var(--ivy-timeline-font-size, 12px);
}
