:host {
  display: block;
  border-radius: var(--ivy-border-radius, 4px);
}
:host(:not(:defined)) {
  display: none;
}
.header {
  font-size: 1.4em;
  padding: 12px 0;
}

.wrap {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
:host([border]) {
  border: 1px solid var(--ivy-border-color, #dcdfe6);
}
:host([border]) .wrap {
  border-top: 1px solid var(--ivy-border-color, #dcdfe6);
}
