:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  height: 34px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: all 0.15s;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  padding: 0 15px;
  font-size: var(--ivy-font-size, 14px);
  border-radius: var(--ivy-border-radius, 4px);
  margin-right: 12px;
  border: 1px solid var(--ivy-border-color, #dcdfe6);
}
:host(:hover) {
  color: var(--ivy-color-primary, #409eff);
  border: 1px solid var(--color-primary-light-5, #a0cfff);
  background-color: var(--color-primary-light-9, #ecf5ff);
}
:host(:last-child) {
  margin-right: 0;
}

:host([round]) {
  border-radius: 16px;
}

:host([type='primary']) {
  border: 1px solid var(--ivy-color-primary, #409eff);
  background-color: var(--ivy-color-primary, #409eff);
  color: white;
}
:host([type='primary']:hover) {
  border: 1px solid var(--ivy-color-primary-light-3, #79bbff);
  background-color: var(--ivy-color-primary-light-3, #79bbff);
  color: white;
}
:host([type='success']) {
  border: 1px solid var(--ivy-color-success, #67c23a);
  background-color: var(--ivy-color-success, #67c23a);
  color: white;
}
:host([type='success']:hover) {
  border: 1px solid var(--ivy-color-success-light-3, #95d475);
  background-color: var(--ivy-color-success-light-3, #95d475);
  color: white;
}
:host([type='warning']) {
  border: 1px solid var(--ivy-color-warning, #e6a23c);
  background-color: var(--ivy-color-warning, #e6a23c);
  color: white;
}
:host([type='warning']:hover) {
  border: 1px solid var(--ivy-color-warning-light-3, #eebe77);
  background-color: var(--ivy-color-warning-light-3, #eebe77);
  color: white;
}
:host([type='danger']) {
  border: 1px solid var(--ivy-color-danger, #f56c6c);
  background-color: var(--ivy-color-danger, #f56c6c);
  color: white;
}
:host([type='danger']:hover) {
  border: 1px solid var(--ivy-color-danger-light-3, #f89898);
  background-color: var(--ivy-color-danger-light-3, #f89898);
  color: white;
}
:host([type='info']) {
  border: 1px solid var(--ivy-color-info, #909399);
  background-color: var(--ivy-color-info, #909399);
  color: white;
}
:host([type='info']:hover) {
  border: 1px solid var(--ivy-color-info-light-3, #b1b3b8);
  background-color: var(--ivy-color-info-light-3, #b1b3b8);
  color: white;
}
:host([disabled]) {
  cursor: not-allowed;
  border-color: #e4e7ed;
  background-color: white;
  color: #a8abb2;
}
:host([disabled][type='primary']) {
  cursor: not-allowed;
  border: 1px solid var(--ivy-color-primary-light-5, #a0cfff);
  background-color: var(--ivy-color-primary-light-5, #a0cfff);
  color: white;
}
:host([disabled][type='success']) {
  cursor: not-allowed;
  border: 1px solid var(--ivy-color-success-light-5, #b3e19d);
  background-color: var(--ivy-color-success-light-5, #b3e19d);
  color: white;
}
:host([disabled][type='warning']) {
  cursor: not-allowed;
  border: 1px solid var(--ivy-color-warning-light-5, #f3d19e);
  background-color: var(--ivy-color-warning-light-5, #f3d19e);
  color: white;
}
:host([disabled][type='danger']) {
  cursor: not-allowed;
  border: 1px solid var(--ivy-color-danger-light-5, #fab6b6);
  background-color: var(--ivy-color-danger-light-5, #fab6b6);
  color: white;
}
:host([disabled][type='info']) {
  cursor: not-allowed;
  border: 1px solid var(--ivy-color-info-light-5, #c8c9cc);
  background-color: var(--ivy-color-info-light-5, #c8c9cc);
  color: white;
}

:host([loading]) {
  position: relative;
  pointer-events: none;
}
:host([loading])::before {
  z-index: 1;
  pointer-events: none;
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: var(--ivy-mask-color-extra-light, hsla(0, 0%, 100%, 0.35));
}
#ivy-loading {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  fill: currentColor;
  overflow: hidden;
  animation: rotate 1.8s linear infinite;
  display: none;
  margin-right: 8px;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
:host([loading]) #ivy-loading {
  display: initial;
}

#hidden-svg {
  display: none;
}
