:host {
  display: flex;
  box-sizing: border-box;
}
:host(:not(:defined)) {
  display: none;
}

.content {
  flex: auto;
}

.label,
.content{
  padding: 8px 12px;
}

:host([border]) {
  border-bottom: 1px solid var(--ivy-border-color, #dcdfe6);
  border-right: 1px solid var(--ivy-border-color, #dcdfe6);
}
:host([border]) .label {
  background-color: var(--ivy-description-label-bg-color);
}


