:host {
  display: block;
  position: relative;
  width: 100%;
}

:host .menu {
  display: none;
  flex-direction: column;
  filter: drop-shadow(0px 0 16px rgba(17, 17, 26, 0.1));
  min-width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  z-index: var(--ivy-contextmenu-z-index, 10);
}

:host([visible]) .menu {
  display: inline-flex;
  animation: zoomIn 0.3s forwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
