:host {
  display: block;
  position: relative;
}
.ivy-input-inner {
  background-color: #fff;
  background-image: none;
  border-radius: var(--ivy-border-radius, 4px);
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 34px;
  line-height: 34px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.ivy-input-inner::input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner::-webkit-input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner::-moz-input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner:-moz-input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner:-ms-input-placeholder {
  color: #c0c4cc;
  font-size: 14px;
}
.ivy-input-inner:active,
.ivy-input-inner:hover,
.ivy-input-inner:focus {
  border-color: var(--ivy-color-primary, #409eff);
}
:host([disabled]) {
  cursor: not-allowed;
}
:host([disabled]) .ivy-input-inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
:host([readonly]) {
  cursor: not-allowed;
}
.ivy-input-icon {
  display: none;
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.ivy-input .ivy-input-icon-prefix {
  left: 0;
}
