:host {
  display: block;
}

.ivy-tab-header {
  margin-bottom: 15px;
  display: flex;
  position: relative;
}
.ivy-tab-header::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--ivy-border-color, #dcdfe6);
  z-index: -1;
}
.ivy-tab-header-arrow {
  flex: 0 0 30px;
  width: 30px;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
.ivy-tab-header-arrow:hover ivy-icon[name='^arrow'] {
  color: var(--ivy-color-primary, #409eff) !important;
}
.ivy-tab-wrap {
  flex: 0 0 100%;
  overflow: hidden;
  display: inline-flex;
}
.ivy-tab-wrap-inner {
  display: flex;
  position: relative;
  transition: left 0.3s;
  left: 0;
}
.ivy-tab-wrap-item {
  padding: 0 20px;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #303133;
  position: relative;
  cursor: pointer;
  word-break: keep-all;
}
.ivy-tab-wrap-item-first {
  padding-left: 0;
}
.ivy-tab-wrap-item-last {
  padding-right: 0;
}
.ivy-tab-wrap-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--ivy-color-primary, #409eff);
  transition: left 0.3s, width 0.3s;
}
