:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0;
  --uni-empty-text-color: #666;
}
.uni-empty__image {
  display: flex;
  justify-content: center;
  width: 160px;
}
.uni-empty__text {
  text-align: center;
  margin-top: 12px;
  color: var(--uni-empty-text-color);
}
