:host {
  display: block;
  --ivy-details-border-radius: 8px;
  --ivy-background-color: #f7f7f7;
  --ivy-details-summary-color: #666;
  --ivy-details-color: #515a6e;
  --ivy-details-font-size: 13px;
  --ivy-details-summary-font-size: 14px;
}
.details {
  padding: 16px;
  border-radius: var(--ivy-details-border-radius);
  background-color: var(--ivy-background-color);
  color: var(--ivy-details-color);
  font-size: var(--ivy-details-font-size);
}
.details-summary {
  line-height: 1em;
  display: flex;
  align-items: center;
  align-content: center;
  color: var(--ivy-details-summary-color);
  cursor: pointer;
  font-size: var(--ivy-details-summary-font-size);
}

.details-icon {
  display: inline-block;
  margin-right: 10px;
}
.details-icon.has-transition {
  transition: transform 0.3s ease-in-out;
}
.details-icon.is-open {
  transform: rotate(90deg);
}
.details-summary + .details-content > .details-content-inner {
  padding-top: 16px;
}
.details-content-inner {
  box-sizing: border-box;
  font-size: 13px;
}

.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}
