:host {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  height: 54px;
  text-align: center;
  animation: fadeInDown 0.3s ease-in-out;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.message {
  display: inline-flex;
  pointer-events: all;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  background-color: #fff;
  position: relative;
  min-width: 220px;
  align-items: center;
}

.icon {
  margin-right: 8px;
  font-size: 16px;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

:host([type='success']) .message {
  background-color: var(--ivy-color-success-light-9, #f0f9eb);
  color: var(--ivy-color-success, #d1edc4);
}
:host([type='success']) .icon {
  color: var(--ivy-color-success, #d1edc4);
}

:host([type='warning']) .message {
  background-color: var(--ivy-color-warning-light-9, #fdf6ec);
  color: var(--ivy-color-warning, #e6a23c);
}
:host([type='warning']) .icon {
  color: var(--ivy-color-warning, #e6a23c);
}

:host([type='info']) .message {
  background-color: var(--ivy-color-info-light-9, #f4f4f5);
  color: var(--ivy-color-info, #909399);
}
:host([type='info']) .icon {
  color: var(--ivy-color-info, #909399);
}

:host([type='error']) .message {
  background-color: var(--ivy-color-danger-light-9, #fef0f0);
  color: var(--ivy-color-danger, #f56c6c);
}
:host([type='error']) .icon {
  color: var(--ivy-color-danger, #f56c6c);
}
