:host {
  display: block;
  padding: 6px 12px;
  transition: background-color 0.3s;
  cursor: default;
  user-select: none;
}
:host(:not([line]):hover) {
  background-color: var(--ivy-border-color, #dcdfe6);
}
:host([line]) {
  height: 1px;
  background-color: var(--ivy-border-color, #dcdfe6);
  padding: 0;
}
