:host {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  height: 54px;
  text-align: center;
  animation: fadeInDown 0.3s ease-in-out;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.message {
  display: inline-flex;
  pointer-events: all;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  background: #fff;
  position: relative;
  min-width: 220px;
}
:host([type='success']) .message {
  background-color: var(--ivy-color-success-light-9, #f0f9eb);
  color: var(--ivy-color-success, #d1edc4);
}
.message-icon {
  margin-right: 8px;
}
