:host {
  display: inline-block;
  position: relative;
}

.ivy-input-inner {
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: default;
}

:host([disabled]) {
  cursor: not-allowed;
}
:host([disabled]) .ivy-input-inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.select-option-wrap {
  position: absolute;
  max-width: 80vw;
  left: 0;
  top: calc(100% + 4px);
  display: none;
  border-radius: 4px;
  overflow: hidden;
}
:host([visible]) .select-option-wrap {
  display: block;
}
.select-option-scroll {
  overflow: auto;
  overflow: overlay;
  background-color: #fff;
  max-height: 274px;
  filter: drop-shadow(0px 0 16px rgba(17, 17, 26, 0.1));
}
.select-option {
  margin: 6px 0;
}

.select-option-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 2px;
}

.select-option-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 1);
  border-radius: 2px;
}
.select-option-scroll::-webkit-scrollbar-track {
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 2px;
}
